
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1vw; 
    font-family: "PexicoMicro-Regular", Arial, sans-serif;
    background-color: #002936;
    background-size: 60px 60px;
    background-position: 0px 0px
}

.homepage{
    position: fixed;
    display: flex;
    top: 0;   
    left: 0;   
    margin-top: 2.5vw;
    margin-left: 2vw;
    /*Copyright - 2024 levxyca (Leticia 'levxyca') */
    font-size: 1rem;
    color: #c5d7ed7a;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #c5d7ed7a;
    background: #002936;
    box-shadow: 3px 3px #c5d7ed7a;
    cursor: pointer;
    text-decoration: none; 
}
.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-image: linear-gradient(#E85D75 10%, #E85D75);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

.homepage:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}
.main-container {
    width: 70%;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: #002936; 
    border-radius: 10px; 
    color: #C5D7ED; 
    box-sizing: border-box;
}

.about-body { 
    
    margin: 0rem;
    overflow:visible;
    padding: 0;
    height: 100%;
    color: #C5D7ED;
    display: flex;
    flex-direction: column;
}





.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 

    overflow: hidden;
}

.ascii-about, .ascii-cow {
    font-size: 1.5vw; 
    padding: 1vh 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.ascii-cow{
    position: absolute; 
    bottom: 0; 
}


.info-container {
    padding: 2rem; 
    margin-bottom: 4rem; 
    border-radius: 8px; 
    text-align: center; 
}

h2 {
    margin-top: 5rem;
    margin-bottom: 2rem; 
    font-size: 2.5rem;
    font-weight: 600; 
    text-align: center;
    text-decoration: underline #E85D75;
}

.education-details,
.interests-details {
    font-size: 1.5rem; 
    font-weight: 400; 
    margin-top: 0.5rem; 
    text-align: center; 
    display: inline-block; 
}

.education-details span,
.interests-details span {
    display: block;
    margin-top: 0.5rem; 
    position: relative;
}

.education-section,
.interests-section {
    margin-bottom: 4rem; 
}


h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 5rem;
    text-align: left;
}




blockquote {
    border-left: 5px solid;
    border-color: #E85D75;
    margin-left: 0;
    padding: 1rem 0 1rem 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      35deg,
      #E85D75,
      hsl(160, 100%, 65%)
    );
  }


/* Cards from Uiverse.io by gharsh11032000 */ 
.cards, .certificates {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    align-items: center;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 2rem;
}

.card__image, .certificate-button img {
    max-width: 90%; 
    height: auto;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
}


.skills-container p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: 600; 
    text-align: center; 
    padding-bottom: 0.5rem;

}

.skills-container h2{
    margin-top: -5rem;

}

.certification-container h2{
    margin-top: 5rem;

}




.certificate-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}



.card:hover .card__image, .certificate-button:hover img {
    transform: scale(1.1); 
}

.card__image, .certificate-button img {
    max-width: 85%; 
    height: auto;
}

@media (max-width: 600px) {
    .card__image, .certificate-button img {
        max-width: 75%; 
    }
}

@media (max-width: 1200px) {
    .certificates, .cards {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); 
    }
}

@media (max-width: 900px) {
    .certificates, .cards {
        grid-template-columns: repeat(auto-fit, minmax(110px, 1fr)); 
    }
}

@media (max-width: 600px) {
    .certificates, .cards {
        grid-template-columns: repeat(2, minmax(90px, 1fr)); 
    }
}



@media (orientation: portrait) {
    .ascii-about {
        padding-top: 20vw;
        font-size: 2vw; 
    }

    .ascii-cow {
        padding-bottom: 10vw;
        font-size: 3.5vw; 
        margin-top: 1vh; 

    }

    .text-container {
        font-size: 8vw; 
        padding: 2vw; 
    }

    .text-container p {
        font-size: 8vw; 
    }

    body {
        font-size: 5vw; 
    }

    .info-container {
        width: 90%; 
        padding: 1rem; 
        font-size: 4vw; 
        line-height: 1.5; 
    }

    .info-container p {
        font-size: 3vw; 
    }

    .info-container .education,
    .info-container .interests {
        font-size: 4vw; 
        margin-top: 1.5rem; 
        margin-bottom: 0.5rem; 
    }

    .info-container .education span,
    .info-container .interests span {
        font-size: 3vw; 
    }

    .info-container blockquote h1 {
        font-size:7vw; 

    }

    .h2 {
        font-size: 2vw; 
    }

    .homepage {
        position: sticky; 
        top: 0;
        left: 0;
  
        font-size: 1rem; 
        z-index: 1000;
        text-decoration: none; 
    }   

  
}

