* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;  
}

body {
    display: flex;
    overflow: hidden;
    font-family: "PexicoMicro-Regular", Arial, sans-serif;
}

.block.three{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
  justify-content: center;
}

.section-three{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
}
