
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1vw; 
    font-family: "PexicoMicro-Regular", Arial, sans-serif;
    background-color: #002936;
    background-size: 60px 60px;
    background-position: 0px 0px;
    overflow: hidden; 
}
  
.homepage {
    position: fixed;
    display: flex;
    top: 0;   
    left: 0;   
    margin-top: 2.5vw;
    margin-left: 2vw;
    /*2024 levxyca (Leticia 'levxyca') */
    font-size: 1rem;
    color: #c5d7ed7a;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #c5d7ed7a;
    box-shadow: 3px 3px #c5d7ed7a;
    cursor: pointer;

  }

.homepage:active{
    box-shadow: none;
    transform: translate(3px, 3px);

}

.blob {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 650px;
    border-radius: 100%;
    background-image: linear-gradient(#E85D75 10%, #E85D75);
    filter: blur(250px);
    transition: all 450ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: -1;
}

  

.container {
    overflow: hidden; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    padding: 2.5vw;
    box-sizing: border-box;
    gap: 2vw; 
}

.intro {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-bottom: 1vw;
    text-align: left; 
}

.intro h1 {
    font-size: 3.5vw; 
    margin: 0.6vw 0 1vw 0; 
    color: #C5D7ED;
    white-space: nowrap; 
}

.intro pre {
    display: block; 
    font-size: 1vw; 
    color: #C5D7ED;
    white-space: nowrap; 
    margin: 0;
    margin-left: -5px;
}





/*2024 ardianhu (ardianhu) (EDITED) */
.terminal {
    font-family: monospace;
    overflow: hidden; 
    color: #C5D7ED; 
}

.terminal-header {
    background-color: #3f3f46;
    color: white;
    padding: 8px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
}

.dot {
    margin-left: 12px;
    height: 0.6vw;
    width: 0.6vw;
    border-radius: 50%;
    cursor: pointer;
}


.title {
    margin-left: 8px;
    margin-bottom: 4px;
}

.output {
    padding-left: 16px;
    padding-top: 8px;
    background-color: #111827;
    max-height: 500px;
    overflow-y: auto;
}


.input-container {
    display: flex;
    padding-left: 16px;
    background-color: #111827;
    padding-bottom: 16px;
    border-radius: 0 0 12px 12px;
    align-items: center;
}

.terminal-input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #fbbf24;
    width: 100%;
    font-size: 1.2vw;
}


.red {
    background-color: #f87171;
}

.yellow {
    background-color: #facc15;
}

.green {
    background-color: #4ade80;
}


.gray-text {
    color: #6b7280;
}

.blue-text {
    color: #38bdf8;
}


.green-text {
    color: #4ade80;
}

.blue-text {
    color: #38bdf8;
    margin-left: 8px;
}

.yellow-text {
    color: #fbbf24;
}


@media (orientation: portrait) {
  

    body {
        font-size: 5vw; 
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    .container {
        flex-direction: column; 
        align-items: center;
        width: 90%; 
        padding: 0;
        box-sizing: border-box;
        margin: 0 auto; 
    }

    .intro {
        width: 90%; 
        margin-bottom: 3vw; 
        text-align: center; 
        align-items: center;
    }

    .intro h1 {
        font-size: 9vw; 
        text-align: center; 
        margin: 0 auto; 
    }

    .intro pre {
        font-size: 6vw; 
        text-align: center; 
        margin: 0 auto; 
        
        white-space: normal; 
        word-wrap: break-word;
    }

    .terminal {
        min-width: 90%; 
        min-height: 40vh; 
        margin: 0 auto; 
    }

    .input-container {
        font-size: 4vw; 
        margin: 0 auto; 
    }

    .terminal-input {
        font-size: 4vw; 
    }

    .dot {
        margin-left: 12px;
        height: 1.2vw;
        width: 1.2vw;
        border-radius: 50%;
        cursor: pointer;
    }

    .homepage {
        margin-top: 4vw;
        margin-left: 4vw;
        font-size: 3vw;
        position: absolute;
    }
}


.icons {
    position: fixed;            
    bottom: 40px;              
    left: 50px;                 
    display: flex;             
    flex-direction: row;        
    gap: 20px;                
    list-style-type: none;     
    padding: 0;                
    margin: 0;                  
    z-index: 1000;              
}

.icon-content {
    position: relative; 
    width: 50px;        
    height: 50px;   
}

.filled {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.tooltip {
    position: absolute;
    bottom: 60px;      
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    pointer-events: none;
}

.icon-content:hover .tooltip {
    opacity: 1;  
}


  