* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    overflow: hidden;
    font-family: "PexicoMicro-Regular", Arial, sans-serif;

}

section.pages {
    height: 100vw;
    width: 100vh;
    position: relative;
    overflow: hidden auto;
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100vh);
    background-color: #002936;
}

.block {
    width: 100vh;
    height: 100vw;
    margin-bottom: 20px;
}

.box-container{
    width: 100vh;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container.two{

}

.box{
    width: 50vh;
    height: 50vw;
}

.box.two{
    display: flex;              
    justify-content: center;     
    align-items: center;         
    text-align: center;          
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 5rem;
    text-wrap: nowrap;
}

blockquote {
    transform: rotate(90deg); /* Rotate boxes to match the horizontal scroll */
    border-left: 5px solid;
    border-color: #E85D75;
    margin-left: 0;
    padding: 1rem 0 1rem 1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      35deg,
      #E85D75,
      hsl(160, 100%, 65%)
    );
}





.pages::-webkit-scrollbar {
    display: none;
}

.block:last-child {
    margin: 0;
}

.block:nth-child(1) {
    background: #002936;
}

.block:nth-child(2) {
    background: pink;
}

.block:nth-child(3) {
    background: rgb(228, 20, 54);
}

.block:nth-child(4) {
    background: rgb(52, 180, 48);
}

